<!-- Holder for mobile navigation -->
	<div class="mobile-nav">
		<ul>
		</ul>
		<a href="#" class="close-link"><i class="arrow_up"></i></a>
	</div>
<div class="container">

    <hr />
        <div class="text-center center-block">
            <p class="txt-railway">- Ezzie.in -</p>
            <br />
                <a href="#"><i class="fa fa-facebook-square fa-3x social"></i></a>
	            <a href="#"><i class="fa fa-twitter-square fa-3x social"></i></a>
	            <a href="#"><i class="fa fa-google-plus-square fa-3x social"></i></a>
	            <a href="#"><i class="fa fa-envelope-square fa-3x social"></i></a>
		</div>

</div>